.contenedor{
    padding:30px;
    background:#f7f6f4;
    min-height:100vh;
    font-family:'Poppins', sans-serif;
}

.encabezado{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.encabezado h2{
    margin:0;
    color:#3b2a2a;
}

.encabezado p{
    margin-top:5px;
    color:gray;
    font-size:14px;
}

.btn-nueva{
    background:#5b1f2b;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

.busqueda{
    margin-bottom:20px;
}

.busqueda input{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:5px;
}

.contenido{
    display:grid;
    grid-template-columns:68% 30%;
    justify-content:space-between;
    align-items:start;
}

.izquierda{
    background:white;
    padding:20px;
    border:1px solid #ddd;
    max-width:950px;
}
.derecha{
    display:flex;
    flex-direction:column;
    gap:18px;
    margin-left:-10px;
}

.tarjeta{
    background:white;
    border:1px solid #ddd;
    padding:20px;
}

.tarjeta h3{
    margin-top:0;
}

.tarjeta ul{
    padding-left:20px;
}

.leyenda{
    margin-top:20px;
    display:flex;
    gap:25px;
    font-size:14px;
}

.audiencia{
    color:green;
}

.reunion{
    color:steelblue;
}

.tramite{
    color:#c28b00;
}

.fc{
    background:white;
}

.fc-toolbar-title{
    font-size:24px !important;
}

.fc-button{
    background:#5b1f2b !important;
    border:none !important;
}

.fc-daygrid-day-number{
    color:#333;
    text-decoration:none;
}

.fc-theme-standard td,
.fc-theme-standard th{
    border:1px solid #ececec;
}

.detalle-vacio{
    background:#efefef;
    height:130px;
    margin-top:15px;
}

.lista-vacia{
    height:35px;
    border-bottom:1px solid #ddd;
}

.fc-daygrid-event{
    background: transparent !important;
    border: none !important;
    color: transparent !important;
    padding: 0 !important;
}

.fc-event-title{
    display: none;
}

.fc-daygrid-event-dot{
    border-width: 5px;
}

.fc-highlight{
    background:#5b1f2b !important;
}

